@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

body {
    font-family: Oswald;
}

/* Containers */

.container-wrapper--black {
    background-color: black;
    color: white;
}

.callout-container {
    height: 100vh;
    background: url('../images/cross-background.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* end Containers */


/* Navbar */

.navalert-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .95);
    border: 0;
    text-transform: uppercase;    
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/* end Navbar */


/* Jumbotron bootstrap*/

.jumbotron {
    background-color: transparent;
}

.jumbotron-header{
  text-transform: uppercase;
}

.jumbotron h1 {
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

.jumbotron .lead {
    color: white;
    margin: 20px 0;
}

@media screen and (max-height: 385px) {

  .jumbotron h1 {
    margin-top: 70px;
 } 
}


/* Block dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--yellow {
    background-color: #ffe100;
}

.block-divider--white {
    background-color: white;
}

.block-divider--short {
    width: 135px;
}