@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Lato;
    color: #ffffff;
}

/* start upper fixed block */

ul {
    margin: 25px;
    float: right;
    list-style-type: none;
    padding: 0;
}

ul li {
    display: inline;
}

ul li a{ 
    margin-right: 10px;
    text-decoration: none;
    font-family: Oswald;
    text-transform: uppercase;
    color: #ffffff;
    padding: 5px 15px;
    border: 1px solid white;
    transition: 0.3s ease-in-out;
}

ul li a:hover {
    background-color: #fff;
    color: #000;
}

#active {
    color: #ffffff;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;

}

.upper-block1 {
    display: inline;
    position: fixed;
    z-index: 6;
    width: 100%;
    background-color: black;
    margin: auto;
}

.logo {
    color: #ffffff;
    float: left;
    font-size: 250%;
    text-transform: uppercase;
    margin-left: 30px;
    clear: both;
    
}

/* start media upper block */

@media screen and (max-width: 694px) {
    ul li a{
    display: inline;
    margin: 3px 0px 3px 0px;
    }

    ul {
        float: left;
        margin-top: 21px;
        margin-bottom: 15px;
    }

    .upper-block1 {
    display: inline;
    }
  }

@media screen and (max-width: 473px) {
    ul li a{
    display: block;
    margin: 3px 0px 3px 0px;
    height:30%;
    }

    ul {
        float: left;
        margin-top:5px;
        margin-bottom: 4px;

    }

    .upper-block1 {
    display: inline;
    }
  }

/* end media upper block */

/* end upper fixed block */



