@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

body {
    font-family: Oswald;
}

/* Containers */

.container-wrapper--black {
    background-color: black;
    color: white;
}

.callout-container {
    height: 100vh;
    background: url('../images/cross-background.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* end Containers */


/* Navbar */

.navalert-container {
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .95);
    border: 0;
    text-transform: uppercase;    
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/* end Navbar */
